@model IEnumerable<DoAnWebbb.Models.SANPHAM>

@{
    ViewBag.Title = "SPTheoLoai";
    Layout = "~/Views/Shared/New.cshtml";
}

<body>
    <section class="food_section">
        <div class="container">
            <div class="filters-content">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6 col-lg-4 all pizza">

                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <img src="@item.HINH" alt="thumbnails" />
                                    </div>
                                    <div class="detail-box">
                                        <h5>
                                            @item.TENSANPHAM
                                        </h5>
                                        <p>
                                            @item.MOTASANPHAM
                                        </p>
                                        <div class="options">
                                            <h6>
                                                <bdo>$</bdo>@String.Format("{0:0,0}", item.GIABAN) <bdo>VNĐ</bdo>
                                            </h6>
                                            <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang",new { @id = item.MASANPHAM, @strURL = Request.Url.ToString() })">Đặt mua</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    @*Trang @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </div>
        <style>
            .MenuTrang li {
                display: inline;
            }
        </style>*@

</body>