@model DoAnWebbb.Models.PHIEUMUA

@{
    ViewBag.Title = "Chi Tiết Đơn Hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHomeAdmin.cshtml";
    double tongtien = 0;
}

<div class="box">
    <h2 style="text-align:center; color: black; margin-top:10px">Thông Tin Khách Hàng</h2>

    <div class="box-body">

        <div>
            <div>
                <form method="POST">
                    <div class="panel panel-title">
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                    <tr style="color:black">
                                        <td>Tên khách hàng</td>
                                        <td>Ngày đặt hàng</td>
                                        <td>Số điện thoại</td>
                                        <td>Địa chỉ</td>
                                        <td>Email</td>
                                    </tr>
                                    <tr style="color:black">
                                        <td>@Html.DisplayFor(model => model.NGUOIDUNG.HOVATEN)</td>
                                        <td>@Html.DisplayFor(model => model.NGAYDAT)</td>
                                        <td>@Html.DisplayFor(model => model.NGUOIDUNG.SDT)</td>
                                        <td>@Html.DisplayFor(model => model.DIACHIGIAOHANG)</td>
                                        <td>@Html.DisplayFor(model => model.NGUOIDUNG.GMAIL)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="color:black; margin-left: 10px">
                        @if (Model.TRANGTHAI == 0)
                        {
                            <input hidden name="Status" value="1" />
                            <p>
                                Trạng thái giao hàng: <label class="btn btn-primary">Đang chờ</label>
                                Xử lý <button type="submit" value="1" class="btn btn-primary">Xác nhận</button>
                            </p> }
                        else if (Model.TRANGTHAI == 1)
                        {
                            <input hidden name="Status" value="2" />
                            <p>
                                Trạng thái giao hàng:  <label class="btn btn-primary">Xác Nhận</label>
                                Xử lý <button type="submit" value="2" class="btn btn-primary">Đang giao</button>
                            </p> }
                        else if (Model.TRANGTHAI == 2)
                        {
                            <input hidden name="Status" value="3" />
                            <p>
                                Trạng thái giao hàng:  <label class="btn btn-primary">Đang giao</label>
                                Xử lý <button type="submit" class="btn btn-primary">Đã giao</button>
                            </p> }
                        else
                        {
                            <p>
                                Trạng thái giao hàng:  <label class="btn btn-primary">Hoàn thành</label>
                            </p>
                        }
                    </div>
                </form>
            </div>
            <h2 style="text-align:center; color: black; margin-top:10px">Chi Tiết Đơn Hàng</h2>

        </div>
    </div>
    <div>
        <a class="btn btn-primary" href="@Url.Action("Index")" style="margin-left: 10px; margin-bottom:5px">Quay về</a>
    </div>
</div>