@using DoAnWebbb.Models
@using PagedList.Mvc;
@model PagedList.PagedList<DoAnWebbb.Models.PHIEUMUA>

@{
    ViewBag.Title = "ĐƠN HÀNG";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHomeAdmin.cshtml";
}
<div>
    <div class="box">
        <h2 style="text-align:center; color: black; margin-top:10px">Quản Lý Đơn Hàng</h2>
        <div class="box-body">
            <table id="example1" class="table table-bordered table-hover">
                <thead style="color:black; text-align:center">
                    <tr>
                        <th>
                            Tài Khoản
                        </th>
                        <th>
                            Họ Và Tên
                        </th>
                        <th>
                            Gmail
                        </th>
                        <th>
                            Số Điện Thoại
                        </th>
                        <th>
                            Địa Chỉ Giao Hàng
                        </th>
                        <th>
                            Ngày Đặt
                        </th>
                        <th>
                            Trạng Thái
                        </th>
                        <th>
                            Tác Vụ
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="color:black">
                            <td>
                                @Html.DisplayFor(modelItem => item.USERNAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NGUOIDUNG.HOVATEN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NGUOIDUNG.GMAIL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NGUOIDUNG.SDT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DIACHIGIAOHANG)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NGAYDAT)
                            </td>
                            <td>
                                @if (item.TRANGTHAI == 0)
                                {
                                    <label class="btn btn-primary">Đang chờ</label> }
                                else if (item.TRANGTHAI == 1)
                                {
                                    <label class="btn btn-primary">Xác Nhận</label> }
                                else if (item.TRANGTHAI == 2)
                                {
                                    <label class="btn btn-primary">Đang giao</label> }
                                else
                                {
                                    <label class="btn btn-success">Hoàn thành</label>}
                            </td>
                            <td class="chitietdon">
                                <a class="btn btn-primary" style="font-size:10px;" href="@Url.Action("ChiTietDonHang","DonHang",new { id=item.MAPHIEUMUA })"><i class="fa fa-fw fa-pen"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

